<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Example Component</div>

          <div class="card-body">I'm an example component.</div>

          <nav class="navbar navbar-expand-lg fixed-top row">
            <router-link tag="li" class="col" class-active="active" to="/" exact
              >TIME</router-link
            >
            <router-link
              tag="li"
              class="col"
              class-active="active"
              to="/CNN"
              exact
              >CNN</router-link
            >
            <router-link
              tag="li"
              class="col"
              class-active="active"
              to="/TechCrunch"
              exact
              >TechCrunch</router-link
            >
            <router-link
              tag="li"
              class="col"
              class-active="active"
              to="/BBCSport"
              exact
              >BBC Sport</router-link
            >
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>





<script>
export default {
  mounted() {
    console.log("Component mounted.");
  },
};
</script>
